/* 起手式，避免預設樣式干擾 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 設定整體頁面底色跟字體 */
body {
    background-color: #dce9d4;
    font-family: Arial, sans-serif;
}
/* 作者資訊 */
.author {
    background-color: #b4d6a8;
    height: 24px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
    line-height: 24px;
}
/*作業名稱*/
.task-title {
    background-color: #a1ceb1;
    height: 50px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}